@import url(variable.css);

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 20px 0;
}

a {
    list-style: none;
    text-decoration: none;
    color: var(--gray-200);
    font-size: 20px;
}


.btn a {
    padding: 10px 20px;
    border-radius: 50px;
    color: var(--white-200);
    background-color: var(--red);
    transition: .5s;
}

.btn a:hover {
    background-color: var(--red-dark);
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    margin-right: 40px;

}
.menu ul li a {
    transition: .5s;
}

.menu ul li a:hover {
    color: var(--red);
}

.home {
    padding: 60px 0px;
    background-image: linear-gradient(rgba(202, 252, 214, 0.879),rgb(244, 197, 197)),url(imagens/bg-home.jpg);
    background-size: cover;
}

.tx-intro h1 span {
    display: block;
    color: var(--red);
}

.tx-intro h1 {
    max-width: 574px;
    font-size: 40px;
    line-height: 60px;
    color: var(--gray-200);
    margin-bottom: 66px;
}

.tx-intro a {
    padding: 16px 36px;
    border-radius: 50px;
    color: var(--white-200);
    background-color: var(--red);
    transition: .5s;
}

.tx-intro a:hover {
    background-color: var(--red-dark);
}

figure img {
    width: 500px;
    height: 500px;
}

#sobre {
    padding: 66px 0px;
}

.tx-sobre h1 {
    font-size: 25px;
    line-height: 40px;
    color: var(--gray-200);
    margin-bottom: 24px;
}

.tx-sobre p {
    max-width: 500px;
    line-height: 26px;
    color: var(--gray);
    margin-bottom: 28px;
}

.tx-sobre a {
    padding: 12px 26px;
    border-radius: 50px;
    color: var(--white-200);
    background-color: var(--green);
    transition: .5s;

}

.tx-sobre a:hover {
    background-color: var(--green-dark);
}
