:root {
    --green: #00b470;
    --green-dark: #037a4d;
    --red: #e15554;
    --red-dark: #d33a3a;
    --white: #FFFFFF;
    --white-200: #EFF8FF;
    --white-400: #EFF8FF;
    --gray-light: #DBDBDB;
    --gray: #6E7275;
    --gray-200: #293145;
    --intro: #f5efff;

}