:root {
    --green: #00b470;
    --green-dark: #037a4d;
    --green-light: #e1fadf;
    --red: #e15554;
    --red-dark: #d33a3a;
    --red-light: #ee8787;
    --white: #FFFFFF;
    --gray: #6E7275;
    --gray-200: #293145;
}